body{
  display: none;
}
@media screen and (max-width: 768px){
  :root{
    --startup_color: #FF7300;
  }
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  display: block;
}
.container{
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

/* NAVBAR start */
.navbar{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  border-bottom: 1px solid rgba(39, 39, 39, 0.178);
}
.inpWrap{
  display: flex;
  width: 400px;
  /* background-color: red; */
  align-items: center;
  padding: 0 10px 0  6px;
  border-radius: 8px;
  border: 1px solid rgba(75, 75, 75, 0.582);

}
.inpWrap i{
  font-size: 22px;
  padding-left: 8px;
}
#srch{
  border: none;
  border-right:  1px solid rgba(75, 75, 75, 0.582);
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 17px;
}
.mapBtn{
  background-color: var(--startup_color);
  color: white;
  border: none;
  outline: none;
  padding: 10px ;
  font-size: 18px;
  border-radius: 100%;
}
/* NAVBAR end */

/* USTA CARD search start */

.usta{
 margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card{
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.26);
}
.card img{
  object-fit: cover;
  width: 150px;
  border-radius: 10px;
}
.cardAbout{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 4px 1px 0;
  justify-content: space-between;
}
.online{
  background-color: rgb(0, 214, 0);
  padding: 1px 15px;
  border-radius: 10px;
  font-size: 13px;
}
.funksiyalar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.like{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.likeBtn{
  color: var(--startup_color);
  border: none;
  outline: none;
  font-size: 22px;
  border-radius: 100%;
  background-color: transparent;
}
.likeBtn i{
  position: relative;
  top: 1px;
}
.xizmat{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* USTA CARD search end */
/* MENU start */

.menu{
  display: flex;
  position: fixed;
  background-color: rgb(255, 255, 255);
  right: 0;
  left: 0;
  top: 700px;
  border: 1px solid rgba(128, 128, 128, 0.39);
  box-shadow: 0px -3px 8px 0px rgba(34, 60, 80, 0.2);
  align-items: center;
}
.menuCon{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 20px;
}
.menuItem{
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.158);
  border-radius: 10px;
transition: 0.3s ease;
}
.menuItem:hover{
  background-color: rgba(128, 128, 128, 0.103);
}
.mapBtn a{
  text-decoration: none;
  color: white;
}
/* MENU end */
}
